<style>
    table{
        width: 100%;
    }
    td{
        width: 25%;
        font-weight: 400;
    }

</style>
<div>
    <div class="title">Добавяне на меню</title>
    <%= form_for @menu, @action ,[as: :menu, class: "reg-forms" ], fn menu -> %>
    <%= if @menu.action do %>
    <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
    <% end %>
        <h1> Дата на менюто: </h1><%= date_input(menu, :date, [class: "form-control1"]) %>
        <h1> Предястия: </h1> 
        <table>
            <tr>
                <th> Избор </th>
                <th> Наименование </th>
                <th> Цена </th>
                <th> Описание </th>
            </tr>
            <%= for starter <- @starters do %>
                <tr> 
                    <td><%= radio_button(menu, :starter, "#{starter.id}", [class: "form-control", style: "width: 50px;"]) %></td>
                    <td><%= starter.name %>
                    <td>
                        <%= 
                            price = starter.price |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                            Enum.join([price, "лв."]," ")
                        %>
                    </td>
                    <td><%= starter.description %></td>
                </tr>
            <% end %>
        </table>
        <h1> Основни: </h1>
        <table>
            <%= for main <- @mains do %>
                <tr> 
                    <td><%= radio_button(menu, :main, "#{main.id}", [class: "form-control", style: "width: 50px;"]) %></td>
                    <td><%= main.name %>
                    <td>
                        <%= 
                            price = main.price |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                            Enum.join([price, "лв."]," ")
                        %>
                    </td>
                    <td><%= main.description %></td>
                </tr>
            <% end %>
        </table>
        <h1> Десерти: </h1>
        <table>
            <%= for dessert <- @desserts do %>
                <tr> 
                    <td><%= radio_button(menu, :dessert, "#{dessert.id}", [class: "form-control", style: "width: 50px;"]) %></td>
                    <td><%= dessert.name %>
                    <td>
                        <%= 
                            price = dessert.price |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                            Enum.join([price, "лв."]," ")
                        %>
                    </td>
                    <td><%= dessert.description %></td>
                </tr>
            <% end %>
        </table>
    <button class="btn btn-primary">Добави</button>
    <% end %>
</div>
