<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  .reg-forms{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
  }
</style>

<div class="row">
    <div class="form-outline">

<div class="title">Всички регистрирани менюта</div>
<span><%= link "Създай ново меню", to: Routes.catering_catering_menu_path(@conn, :new, @conn.path_params["catering_id"]), class: "btn btn-primary" %></span>
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Предястие</th>
            <th>Основно</th>
            <th>Десерт</th>
            <th>Цена</th>
            <th>Опции</th>
        </tr>
    </thead>
    <tbody>
        <%= for menu <- @menus do %>
        <tr>
            <td><%= menu.date %></td>
            <td><%= Server.Catering.get_food!(menu.starter_id).name %> </td>
            <td><%= Server.Catering.get_food!(menu.main_id).name %> </td>
            <td><%= Server.Catering.get_food!(menu.dessert_id).name %> </td>
            <td>
                <%= 
                    price = (Server.Catering.get_food!(menu.starter_id).price + Server.Catering.get_food!(menu.main_id).price + Server.Catering.get_food!(menu.dessert_id).price) 
                    |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                    Enum.join([price, "лв."]," ")
                %>
            </td>
            <td>
                <%= link to: Routes.catering_catering_menu_path(@conn, :show, menu.catering_id, menu.id) do %>
                    <i class="fab fa-elementor" style="font-size: 30px;"></i>
                <% end %>
                <%= link to: Routes.catering_catering_menu_path(@conn, :delete, menu.catering_id, menu.id), method: :delete, data: [confirm: "Are you sure?"] do %>
                    <i class="fas fa-trash" style="font-size: 30px;"></i>
                <% end %>
            </td>
        </tr>
        <% end %> 
    </tbody>
</table>

</div>

</div>