<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  .reg-forms{
    margin-top: 5%;
    width: 100%;
  }
  input[type=radio]{
      font-size: 5px;
  }
</style>

<div class="row">
    <div class="form-outline">
        <%= render "form.html", Map.put(assigns, :action, Routes.catering_catering_menu_path(@conn, :create, @id)) %>
    </div>
</div>