<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  .reg-forms{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
  }
</style>

<div class="row">
    <div class="form-outline">

    <div class="title">Меню за дата: <i><%= @menu.date %></i></div>

    <table>
        <thead>
            <tr>
            <th>Категория</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Описание</th>
            <th>Опции</th>
            </tr>
        </thead>
        <% starter = Server.Catering.get_food!(@menu.starter_id) %>
        <% main = Server.Catering.get_food!(@menu.main_id) %>
        <% dessert = Server.Catering.get_food!(@menu.dessert_id) %>
        <tbody>
            <tr>
            <td><%= Server.Catering.get_food_type!(starter.food_type).name %></td>
            <td><%= starter.name %></td>
            <td>
                <%=
                    starter_price = starter.price |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                    Enum.join([starter_price, "лв."]," ")
                %>
            </td>
            <td><%= starter.description %></td>
            <td>
                <%= link to: Routes.catering_catering_food_path(@conn, :show, @menu.catering_id, @menu.starter_id) do %>
                    <i class="fab fa-elementor" style="font-size: 30px;"></i>
                <% end %>
            </td>
            </tr>

            <tr>
            <td><%= Server.Catering.get_food_type!(main.food_type).name %></td>
            <td><%= main.name %></td>
            <td>
                <%= 
                    main_price = main.price |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                    Enum.join([main_price, "лв."]," ")
                %>
            </td>
            <td><%= main.description %></td>
            <td>
                <%= link to: Routes.catering_catering_food_path(@conn, :show, @menu.main_id, @menu.main_id) do %>
                    <i class="fab fa-elementor" style="font-size: 30px;"></i>
                <% end %>
            </td>
            </tr>

            <tr>
            <td><%= Server.Catering.get_food_type!(dessert.food_type).name %></td>
            <td><%= dessert.name %></td>
            <td>
                <%= 
                    dessert_price = dessert.price |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                    Enum.join([dessert_price, "лв."]," ")
                %>
            </td>
            <td><%= dessert.description %></td>
                <td>
                <%= link to: Routes.catering_catering_food_path(@conn, :show, @menu.dessert_id, @menu.dessert_id) do %>
                    <i class="fab fa-elementor" style="font-size: 30px;"></i>
                <% end %>
            </td>
            </tr>
        </tbody>
    </table>

    </div>
</div>