    <%= form_for @conn, Routes.parent_parent_child_path(@conn , :create, @parent_id),[ method: :post, as: :child_configmation, class: "reg-forms" ], fn child_configmation -> %>
    <%= inputs_for child_configmation, :child_configmation, fn map -> %>
      <div class="title">Потвърди дете</div>
      <%= text_input map, :egn, [ class: "form-control" ,minlength: "10", required: true , placeholder: "ЕГН",  type: "text"] %>
      <%= text_input map, :secure_code_confirmation, [ class: "form-control" ,minlength: "12", required: true , placeholder: "Потвърждаващ код",  type: "text"] %>
    <% end %>
    <button class="btn btn-primary">Добави</button>
    <% end %>