<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  .reg-forms{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
  }
</style>

<div class="row">
  <div class="form-outline">
    <div class="title" style="font-size: 30px;">Моите регистрирани деца</div>
    <%= render( "child_confirmation.html", Map.put(assigns, :action, Routes.parent_parent_child_path(@conn, :create,  @parent_id))) %>
    <table>
      <thead>
        <tr>
          <th>Име</th>
          <th>ЕГН</th>
          <th>Училище</th>
          <th>Опции</th>
        </tr>
      </thead>
      <tbody>

        <%= for child <- @children do %>
        <tr>
          <td><%= child.name  %></td>
          <td><%= child.egn %>
          <td><%= child.school.name %>
          <td>
            <%= link(to: Routes.menu_path(@conn, :index, child_id: child.id, school_id: child.school_id, parent_id: child.parent_id)) do %>
              <i class="fas fa-shopping-cart" style="font-size: 30px;"></i>
            <% end %>
            <%= link(to: Routes.parent_parent_child_path(@conn, :delete, @parent_id,child), method: :delete, data: [confirm: "Are you sure?"]) do %>
              <i class="fas fa-trash" style="font-size: 30px;"></i>
            <% end %>



            
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>