<h1>Регистрация на дете</h1>

<%= render "parent_registration.html", Map.put(assigns, :action, Routes.parent_parent_child_path(@conn, :create,@parent_id)) %>

<span><%= link "Back", to: Routes.parent_parent_child_path(@conn, :index, @parent_id) %></span>