<h1>Edit Administrator</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.administrator_path(@conn, :update, @administrator)) %>

<span><%= link "Back", to: Routes.administrator_path(@conn, :index) %></span>
