<h1>New Administrator</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.administrator_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.administrator_path(@conn, :index) %></span>
