
    

<div class="row">
    <div class="form-outline">
        <div class="balance" style="margin-bottom: 5%;">
            <span class="title"> Баланс: </span> 
            <span class="money">
            <%= 
                if @parent.money != nil do
                    price = (@parent.money)
                            |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                            Enum.join([price, "лв."]," ")
                else
                    0
                end 
            %>
            </span>
        </div>

        <div class="title">Добавяне на пари в акаунта</div>
        
        <%= form_for @conn, Routes.parent_parent_wallet_path(@conn , :update, @parent.id, @conn.assigns.parent.id),[ method: :put, as: :update, class: "reg-forms" ], fn f -> %>
                    <%= inputs_for f, :money, fn pdf -> %>

                <%= text_input pdf, :name, [ class: "form-control" ,minlength: "3", required: true , placeholder: "Име",  type: "text" , value: ""] %>
                <%= text_input pdf, :card, [ class: "form-control" ,minlength: "16", maxlength: "16", required: true , placeholder: "Номер на карта",  type: "text" , value: ""] %>
                <%= text_input pdf, :cvc, [ class: "form-control" ,minlength: "3", maxlength: "3", required: true , placeholder: "CVC на карта",  type: "text" , value: ""] %>
                <%= text_input pdf, :month, [ class: "form-control" ,minlength: "2", maxlength: "2", required: true , placeholder: "MM",  type: "text" , value: ""] %>
                <%= text_input pdf, :year, [ class: "form-control" ,minlength: "2", maxlength: "2", required: true , placeholder: "YY",  type: "text" , value: ""] %>
                <%= number_input pdf, :money, [ class: "form-control" ,step: "0.01", required: true , placeholder: "Сума", value: ""] %>
            
            <% end %>
            <%= submit "Добави", [class: "btn btn-primary"] %>
            <%= link "Назад", to: Routes.parent_path(@conn, :show, @parent.id), class: "btn btn-primary" %>
        <% end %>
    </div>
</div>