<%= form_for @changeset, @action,[class: "reg-forms"], fn f -> %>
  <%= text_input f, :name %>
  <div>
    <button class="btn btn-primary">Обнови</button>
    <%= link "Назад", to: Routes.school_path(@conn, :show, @school.id),  class: "btn btn-primary" %>
  </div>
<% end %>
