

<div class="show-info">
    <div class="inner">
        <div class="left">
            <div class="container-title">Профил</div>
            <div class="data">
                <div class="data-element">
                    <span class="name">Име:</span> <span class="name-data"><%= @school.name %></span>
                </div>
                <div class="data-element">
                    <span class="name">Потребителско име:</span> <span class="name-data"><%= @school.credential.username %></span>
                </div>
                <div class="data-element">
                    <span class="name">И-мейл:</span> <span class="name-data"><%= @school.credential.email %></span>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="container-title">Опции</div>
            <div class="data">
                <div class="link"><%= link "Добави дете", to: Routes.school_school_child_path(@conn, :index, @school) %></div>
                <div class="link"><%= link "Обнови име", to: Routes.school_path(@conn, :edit, @school) %></div>
            </div>
        </div>
    </div>
</div>