<div class="menus">
    <%= for x <- @menus do %>
    <% IO.inspect x %>
        <%= form_for Server.Accounts.Child.changeset(%Server.Accounts.Child{}, %{}), Routes.parent_order_path(@conn, :create, @parent_id), [class: "form-menus"] ,fn f -> %>
            <div class="menu-card">
                <div class="element">
                    <span class="title"> Предястие: </span>
                    <span class="data">
                        <%= x.food_starter.name %>
                    </span>
                </div>

                <div class="element">
                    <span class="title"> Основно: </span>
                    <span class="data">
                        <%= x.food_main.name %>
                    </span>
                </div>

                <div class="element">
                    <span class="title"> Десерт: </span>
                    <span class="data"> 
                        <%= x.food_dessert.name  %>
                    </span>
                </div>

                <div class="element">
                    <span class="title"> Дата: </span>
                    <span class="data">
                        <%= x.date %></span>
                    </span>
                </div>

                <div class="element">
                    <span class="title"> Крайна цена: </span>
                    <span class="data">
                        <%= 
                        price = x.food_starter.price + x.food_main.price + x.food_dessert.price
                            |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                            Enum.join([price, "лв."]," ")
                        %>
                    </span>
                </div>
                
                <%= hidden_input(f, :parent_id, 
                [
                    value: @parent_id

                ]) %>

                <%= hidden_input(f, :child_id, 
                [
                    value: @child_id

                ]) %>

                <%= hidden_input(f, :school_id, 
                [
                    value: @school_id
                    
                ]) %>

                <%= hidden_input(f, :menu_id, 
                [
                    value: x.id

                ]) %>

                <%= hidden_input(f, :catering_id, 
                [
                    value: x.catering_id

                ]) %>

                <%= hidden_input(f, :menu_price, 
                [
                    value: x.food_starter.price + x.food_main.price + x.food_dessert.price

                ]) %>

                

                <div>
                    <%= link "Още информация", to: Routes.catering_catering_menu_path(@conn, :show, x.catering_id, x.id), class: "btn btn-primary" %>
                </div>
                <div>
                    <%= submit "Поръчай", class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>