<%= form_for @changeset, @action,[class: "reg-forms"], fn f -> %>
  <%= text_input f, :name %>
  <div>
   <button class="btn btn-primary" >Обнови</button>
   <%= link "Назад", to: Routes.parent_path(@conn, :show, @parent.id), class: "btn btn-primary" %>
  </div>
<% end %>
