
<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  .reg-forms{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
  }
</style>
<div class="row">
  <div class="form-outline">

<div class="title">Всички регистрирани родители</div>
<span><%= link "Нов родител", to: Routes.parent_path(@conn, :new) , class: "btn btn-primary" %></span>

<table>
  <thead>
    <tr>
      <th>Име</th>
      <th>Адрес</th>
      <th>И-мейл адрес</th>
      <th>Опции</th>
    </tr>
  </thead>
  <tbody>
<%= for parent <- @parents do %>
    <% 
      credentials = Server.Repo.preload(parent,:credential).credential 
      address = Server.Repo.preload(parent, :address).address
    %>
    <tr>
      <td><%= parent.name %></td>
      <td><%= "#{address.city}, #{address.address}" %></td>
      <td><%= credentials.email %></td>

      <td>
        <%= link to: Routes.parent_path(@conn, :show, parent) do %>
          <i class="fab fa-elementor" style="font-size: 30px;"></i>
        <% end %>
        <%= link to: Routes.parent_path(@conn, :edit, parent) do %>
          <i class="fas fa-sync" style="font-size: 30px;"></i>
        <% end %>
        <%= link to: Routes.parent_path(@conn, :delete, parent), method: :delete, data: [confirm: "Are you sure?"] do %>
          <i class="fas fa-trash" style="font-size: 30px;"></i>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>


</div>
</div>