<div class="row">
    <div class="form-outline">
        <div class="title">Регистрация на родител</div>
        
        <%= form_for @conn, Routes.parent_path(@conn , :create),[ method: :post, as: :registration, class: "reg-forms" ], fn f -> %>

            <%= inputs_for f, :parent, fn pdf -> %>
            <%= text_input pdf, :name, [ class: "form-control" ,minlength: "3", required: true , placeholder: "Лично име",  type: "text" , value: ""] %>
            <%= select pdf, :city, @cities %>

                <%= inputs_for pdf, :credential, fn cf -> %>
                    
                    <%= text_input cf, :email, [ class: "form-control" , required: true , placeholder: "Имейл адрес",  type: "email",value: "parent_@mail.com"] %>
                    <%= text_input cf, :username, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Потребителско име",  type: "text",value: ""] %>
                    <%= text_input cf, :password, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Парола",  type: "password", value: "1234567890"] %>
                    <%= text_input cf, :password_confirmation, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Повторете паролата",  type: "password", value: "1234567890"] %>

                <% end %>
                <%= inputs_for pdf, :address, fn cf -> %>

                    <%= hidden_input cf, :country, [ class: "form-control", required: true ,value: "България"] %>
                    <%= hidden_input cf, :city, [ class: "form-control", value: ""] %>
                    <%= hidden_input cf, :province, [ class: "form-control", value: ""] %>
                    <%= text_input cf, :address, [ class: "form-control" , placeholder: "Адрес", required: true ,  type: "text"] %>
                    <%= text_input cf, :post_code, [ class: "form-control" ,placeholder: "Пощенски код", required: true ,  type: "number"] %>
                    
                <% end %>
            <% end %>
            <button class="btn btn-primary" >Регистрирай</button>
            <div class="line">
            </div>
            <div class="under-line">
                Съгласяване с общите правила за ползване.
            </div>
        <% end %>
    </div>
</div>