<div class="show-info">
    <div class="inner">
        <div class="left">
            <div class="container-title">Профил</div>
            <div class="data">
                <div class="data-element">
                    <span class="name">Име:</span> <span class="name-data"><%= name(@parent.name,:first_name) %></span>
                </div>
                <div class="data-element">
                    <span class="name">Презиме:</span> <span class="name-data"><%= name(@parent.name,:middle_name) %></span>
                </div>
                <div class="data-element">
                    <span class="name">Фамилия:</span> <span class="name-data"><%= name(@parent.name,:last_name) %></span>
                </div>
                <div class="data-element">
                    <span class="name">Потребителско име:</span> <span class="name-data"><%= @parent.credential.username %></span>
                </div>
                <div class="data-element">
                    <span class="name">И-мейл:</span> <span class="name-data"><%= @parent.credential.email %></span>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="container-title">Опции</div>
            <div class="data">
                <div class="link"><%= link "Обнови име", to: Routes.parent_path(@conn, :edit, @parent) %></div>
                <div class="link"><%= link "Портфейл", to: Routes.parent_parent_wallet_path(@conn, :show, @parent, @conn.assigns.parent.id) %></div>
                <div class="link"><%= link "Поръчки", to: Routes.parent_order_path(@conn, :index, @parent.id) %></div>
                <div class="link"><%= link "Деца", to: Routes.parent_parent_child_path(@conn, :index, @parent) %></div>
            </div>
        </div>
    </div>
</div>