/* This file is for your main application css. */

@import "./phoenix.css";
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable{
    top: 150px !important;
    box-shadow: 0px 0px 6px;
}
#dialog-error{
    display: none;
}
#dialog-clear{
    display: none;
}
.all-menus{
    display: flex;
    .menu-card{
        margin: 1%;
        width: 300px;
        height: 300px;
        box-shadow: 0px 0px 6px;
        padding: 3%;
        border-radius: 5px;
        .title{
            font-weight: bold;
        }
        .element{
            margin: 5% 0% 8% 0%;
        }
        

    }
    
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,#a6b6d5, #d4e0e4);

    header{
        border: none;
        background: transparent;
        padding: 1%;
        background-color: rgba(0, 0, 255, 0.3);
        box-shadow: 0px 0px 5px;
        margin-bottom: 4.5rem;

        .navigation-bar{
            padding: 0% 15% 0% 15%;
            display: flex;
            font-size: 20px;
        }
        .left{
            flex: 1;
            .logo{ 
                img{
                    max-width: 150px;
                    height: auto;
                }
            }
        }
        .right{
            flex: 1;
            display: flex;
            .elem{
                a{
                    font-weight: bold;
                    text-decoration: none;
                    color: white;
                    transition: 0.5s;
                }
                a:hover{
                    text-decoration: none;
                    color: bisque;
                    transition: 0.5s;
                }
                flex: 1;
            }
        }
    }
}

.form-home{
    margin-bottom: 3%;
    padding: 2%;
    display: flex;
    width: 100%;
    height: 80vh;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 10px -5px;
    .left{
        border-right: 1px solid white;
        flex: 1;
        padding: 2%;
        .text{
            width: 100%;
            height: 100%;
            font-size: 40px;
            color: white;
            text-align: center;
            padding-top: 30%;
            padding-bottom: 20%;
            font-weight: bold;
        }
    }
    .right{
        flex: 1;
        padding: 2%;
        display: inline-block;
        .top{
            max-width: 100%;
            border-bottom: 1px solid white;
            text-align: center;
            padding: 2%;
            height: 50%;
            width: 100%;
            img{
                max-width: 100%;
                height: auto;
                box-shadow: 0px 0px 6px;
            }
            .w3-button.w3-black.w3-display-right{
                transition: 0.5s;
            }
            .w3-button.w3-black.w3-display-left{
                transition: 0.5s;
            }
            .w3-button.w3-black.w3-display-left:hover{
                transition: 0.5s;
            }
            .w3-button.w3-black.w3-display-right:hover{
                transition: 0.5s;
            }
            .w3-button.w3-black.w3-display-left:focus{
                outline: none;
                text-decoration: none;
                transition: 0.5s;
            }
            .w3-button.w3-black.w3-display-right:focus{
                outline: none;
                text-decoration: none;
                transition: 0.5s;
            }
        }
        .bottom{
            padding: 2%;
            height: 50%;
            width: 100%;
            .register{
                width: 100%;
                height: 100%;
                display: inline-block;
                .text{
                    padding: 5%;
                    width: 100%;
                    height: 50%;
                    color: white;
                    font-size: 30px;
                    text-align: center;
                    font-weight: bold;
                }
                .buttons{
                    padding-top: 15%;
                    text-align: center;
                    display: flex;
                    width: 100%;
                    height: 50%;
                    .link{
                        flex: 1;
                        a{
                            border: transparent;
                            background: rgba(0, 0, 255, 0.3);
                            padding: 5% 10% 5% 10%;
                            border-radius: 10px;
                            color: white;
                            font-weight: bold;
                            transition: 0.5s;
                        }
                        a:hover{
                            text-decoration: none;
                            transition: 0.5s;
                            color: bisque;
                        }
                    }
                }
            }
        }
    }
}
.mySlides{
    display:none;
}

.form-outline{
    width: 50%;
    height: 100%;
    margin-left: 25%;
    padding: 2% 5% 2% 5%;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    .title{
        text-align: center;
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    .reg-forms{
        input:focus{
            outline: none;
            box-shadow: none;
        }
        input{
            background: transparent;
            border: none;
            border-bottom: 1px solid black;
            border-radius: 0px;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }
        select{
            width: 100%;
            border: none;
            border-bottom: 1px solid black;
            border-radius: 0px;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }
        select:hover{
            cursor: pointer;
        }
        select:focus{
            box-shadow: none;
        }
        button{
            width: 100%;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        .line{
            width: 100%;
            border-bottom: 1px solid grey;
            margin-top: 5%;
            margin-bottom: 1%;            
        }
        .under-line{

            font-size: 15px;
            text-align: center;
        }
        a{
            width: 100%;
            font-weight: bold;
        }
        button{
            height: 0%;
            font-weight: bold;
        }
    }
}
.orders{
    background: rgba(255,255,255,1);
    width: 100%;
    height: 80vh;
    padding: 2%;
    border-radius: 10px;
    .title{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2%;
    }
}

.show-info{
    width: 100%;
    height: 100%;
    padding: 5%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    .inner{
        display: flex;
        width: 100%;
        height: 100%;
        .left{
            border-right: 1px solid silver;
            flex: 1;
        }
        .right{
            flex: 1;
            .link{
                padding: 5%;
                text-align: center;
                a{
                    background: rgba(0, 0, 255, 0.3);
                    height: 30px;
                    display: block;
                    margin-left: 37%;
                    width: 30%;
                    text-align: center;
                    border-radius: 5px;
                    padding: 0.8%;
                    color: white;
                    font-weight: bold;
                    transition: 0.5s;
                }
                a:hover{
                    transition: 0.5s;
                    text-decoration: none;
                    background: rgba(0, 0, 255, 0.5);
                }
            }
        }
        .container-title{
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid silver;
        }
        .data-element{
            padding: 3%;
            .name{
                font-weight: bold;
                font-size: 20px;
            }
            .name-data{
                font-size: 20px;
                font-weight: 400;
                color: lightslategrey;
            }
        }
    }
}
i.fas.fa-shopping-cart{
    color: lawngreen;
    transition: 0.5s;
}
i.fas.fa-shopping-cart:hover{
    transition: 0.5s;
    text-decoration: none;
    color: limegreen;
    outline: none;
    box-shadow: none;
}
i.fas.fa-trash{
    color: red;
    transition: 0.5s;
}
i.fas.fa-trash:hover{
    transition: 0.5s;
    color: darkred;
    outline: none;
    box-shadow: none;
    text-decoration: none;

}
i.fab.fa-elementor{
    transition: 0.5s;
}
i.fab.fa-elementor:hover{
    transition: 0.5s;
}

i.fas.fa-sync{
    transition: 0.5s;
}

i.fas.fa-sync:hover{
    transition: 0.5s;
}
.btn.btn-primary{
    font-weight: bold;
}

.menus{
    width: 100%;
    height: 100%;
    display: inline-block;
    .form-menus{
        border-radius: 10px;
        background: white;
        width: 30%;
        padding: 2%;
        display: inline-block;
        margin: 1%;
        .menu-card{
            .element{
                margin-top: 5%;
                margin-bottom: 5%;
                .title{
                    font-weight: bold;
                    font-size: 20px;
                }

            }
            .btn.btn-primary{
                margin-top: 1%;
                width: 100%;
                height: 0%;
            }
        }
    }
}