<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  .reg-forms{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
  }
</style>


<div class="row">
  <div class="form-outline">
  <div class="title">Всички регистрирани устройства</div>
  <span><%= link "Нов хост", to: Routes.host_path(@conn, :new), class: "btn btn-primary" %></span>
  <table>
    <thead>
      <tr>
        <th>Име</th>

        <th>Адрес</th>

        <th>Опции</th>
      </tr>
    </thead>
    <tbody>
  <%= for host <- @hosts do %>
      <% address = Server.Repo.preload(host, :address).address %>
      <tr>
        <td><%= host.name %></td>
        <td><%= "#{address.city}, #{address.address}" %>
        <td>
          <%= link to: Routes.host_path(@conn, :delete, host), method: :delete, data: [confirm: "Are you sure?"] do %>
            <i class="fas fa-trash" style="font-size: 30px;"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>

  <span><%= link "New Host", to: Routes.host_path(@conn, :new) %></span>
  </div>
</div>