<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  td{
    width: 50%;
  }
</style>


<div class="row">
  <div class="form-outline">
  <div class="title"> Хост: <%= @host.name %></div>
  <table>
    <thead>
      <tr>
        <th>Наименование</th>
        <th>Описание</th>
      </tr>
    </thead>
   <tbody>
      <tr>
        <td><span id="starter_name"></span></td>
        <td><span id="starter_desc"></span></td>
      </tr>
        
      <tr>
        <td><span id="main_name"></span></td>
        <td><span id="main_desc"></span></td>
      </tr>
        
      <tr>
        <td><span id="dessert_name"></span></td>
        <td><span id="dessert_desc"></span></td>
      </tr>
    </tbody>
  </table>
  </table>
    
  

  <button class="btn btn-primary" id="btn-clear" style="width: 100%; padding: 0% 5% 0% 5%; margin: 0px; border-radius: 10px;" >Отбележи</button>
  </div>
</div>

<div id="dialog-error">
  <p> Детето не притежава платен купон! </p>
</div>

<div id="dialog-clear">
  <p> Успешно предадена храна на детето! </p>
</div>



