<div class="orders">
  <div class="title">Моите поръчки</div>
  <table class="orders-table">
    <tr>
      <th>Дата /Г-М-Д/</th>
      <th>Училище</th> 
      <th>Адрес</th>
      <th>Меню</th>
      <th>Опции</th>
    </tr>
    <%= for order <- @orders do %>

        <% 
            a = 
                order.school |> Server.Repo.preload(:address) 
            address = "#{a.address.city}, #{a.address.address}"
        %>

        <tr> 
            <td style="width:20%"><%= order.menu.date %></td>
            <td style="width:20%"><%= order.school.name %></td>
            <td style="width:20%"><%= address %></td>
            

            <% 

            menu = 
                order.menu
                |> Server.Repo.preload(:food_starter)
                |> Server.Repo.preload(:food_main)
                |> Server.Repo.preload(:food_dessert)

            price = 
                menu.food_dessert.price + menu.food_main.price + menu.food_starter.price

            %>
            <td style="width:30%"><%= menu.food_starter.name %>, <%= menu.food_main.name %>, <%= menu.food_dessert.name %>;</td>
            <td style="width:10%">
                <%= link to: Routes.catering_catering_menu_path(@conn, :show, order.catering_id, menu.id) do %>
                    <i class="fab fa-elementor" style="font-size: 30px;"></i>          
                <% end %>
                <%= link(to: Routes.parent_order_path(@conn, :delete_order, Integer.to_string(order.parent_id), order_id: order.id, price: Float.to_string(price))) do %>
                    <i class="fas fa-trash" style="font-size: 30px;"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
  </table>
</div>


