<div class="form-home">
  <div class="left">
    <div class="text">
      Вече можете да поръчвате купоните онлайн с помощта на системата "Kuponi-BG".
    </div>
  </div>
  <div class="right">
    <div class="top">
      <div class="w3-content w3-display-container">
        <img class="mySlides" src="/images/child-eating.jpg" style="width:100%">
        <img class="mySlides" src="/images/child-eating-1.jpg" style="width:100%">
        <img class="mySlides" src="/images/child-eating2.jpg" style="width:100%">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
    </div>
    <div class="bottom">
      <div class="register">
        <div class="text">
          За да ползвате услугите, трябва да притежавате акаунт.
        </div>
        <div class="buttons">
          <div class="link">
            <a href="/register">Регистрация</a>
          </div>
          <div class="link">
            <a href="/login">Вход</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>