<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  .reg-forms{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
  }
</style>

<div class="row">
  <div class="form-outline">
    <%= render "add_child.html", Map.put(assigns, :school, @school) %>
    <div class="title" style="font-size: 30px;">Всички регистрирани деца за училище: <%= @school.name %></div>
    <table>
      <thead>
        <tr>
          <th>Име</th>
          <th>ЕГН</th>
          <th>Гривна номер</th>
          <th>Статус</th>
          <th>Код</th>
        </tr>
      </thead>
      <tbody>
    <%= for child <- @children do %>
        <tr>
            <td><%= child.name %></td>
            <td><%= child.egn %></td>
            <td><%= child.rfid %></td>
            <td>
              <%=
                case child.active? do
                  true -> "Активирана"
                  false -> "Неактивирана"
                end 
              %>
            </td>
            <td><%= child.conf_code %>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>