<div class="col-lg-6 m-auto pt-5 form-sign-in">
    <h3 class="h3 mb-5 font-weight-normal ">###########################################</h3>
    
    <%= form_for @conn, Routes.school_school_child_path(@conn , :create, @school.id),[ method: :post, as: :add_child, class: "form-elixir register-form-class" ], fn form -> %>
        <%= inputs_for form, :school, fn school -> %>
            <div class="col-xs-12">
                <%= text_input school, :name, [ class: "form-control" ,minlength: "3", required: true , placeholder: "Пълно наименование на учебното заведение",  type: "text" , value: "УЗ-"] %>
                <%= select school, :city, @cities %>
            </div>
            <%= inputs_for school, :credential, fn credential_form -> %>
                <%= text_input credential_form, :username, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Потребителско име",  type: "text",value: ""] %>
                <%= text_input credential_form, :password, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Парола",  type: "password", value: ""] %>
                <%= text_input credential_form, :password_confirmation, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Повторете паролата",  type: "password",value: ""] %>
            <% end %>
        <% end %>
        <button class="btn btn-primary" >##############</button>
    <% end %>

</div>