<div class="row">
    <div class="form-outline">
        <%= render "form.html", Map.put(assigns, :action, Routes.catering_catering_food_path(@conn, :update, @catering_id, @id)) %>
    </div>
</div>