
    <% path = 
        @conn.request_path 
        |> String.split("/")
        |> :lists.reverse()
        |> hd
        |> IO.inspect 
    %> 
     <%= if path == "new" do %>
            <div class="title">Добавяне на храна.</div>
        <% else %>
            <div class="title">Обновяване на информацията за дадената храна</div>
        <% end %>
    
    <%= form_for @food, @action ,[as: :food, class: "reg-forms" ], fn food -> %>
    <%= select(food, :food_type, @food_types, [class: "form-control" ,placeholder: "Наименование на артикул (храна)",  type: "combo"]) %>
    <%= text_input food, :name, [class: "form-control" ,placeholder: "Наименование на артикул (храна)",  type: "text"] %>
    <%= number_input food, :price, [class: "form-control" ,placeholder: "Цена на артикул (храна)", step: "0.01"] %>
    <%= textarea food, :description, [class: "form-control" ,placeholder: "Описание на артикул (храна)",  type: "text"] %>
    <button class="btn btn-primary">
        <%= if path == "new" do %>
            Добави
        <% else %>
            Обнови
        <% end %>
    </button>
     <%= link "Назад", to: Routes.catering_catering_food_path(@conn, :index, @catering_id), class: "btn btn-primary" %>
    <% end %>
</div>