<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  .reg-forms{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
  }
</style>

<div class="row">
  <div class="form-outline">
  <div class="title">Всички регистрирани храни</div>
  <span>
    <%= link "Добави нов артикул", to: Routes.catering_catering_food_path(@conn, :new, @catering_id) , class: "btn btn-primary" %>
  </span>
  <table>
    <thead>
      <tr>
        <th>Категория</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Описание</th>
        <th>Опции</th>
      </tr>
    </thead>

    <tbody>
      <%= for food <- @foods do %>
      <tr>
        <td><%= get_food_type_by_id(food) %></td>
        <td><%= food.name %></td>
        <td><%= price = food.price |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
          Enum.join([price, "лв."]," ") %></td>
        <td><%= food.description %></td>
        <td>
          <%= link(to: Routes.catering_catering_food_path(@conn, :show, @catering_id, food.id)) do %>
            <i class="fab fa-elementor" style="font-size: 30px;"></i>
          <% end %>
          <%= link to: Routes.catering_catering_food_path(@conn, :edit, @catering_id, food.id) do %>
            <i class="fas fa-sync" style="font-size: 30px;"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>