<div class="show-info">
    <div class="inner">
        <div class="left">
            <div class="container-title">Информация за храната</div>
            <div class="data">
                <div class="data-element">
                    <span class="name">Тип:</span> <span class="name-data"><%= Server.Catering.get_food_type!(@food.food_type).name %></span>
                </div>
                <div class="data-element">
                    <span class="name">Наименование:</span> <span class="name-data"><%= @food.name %></span>
                </div>
                <div class="data-element">
                    <span class="name">Цена:</span> <span class="name-data"> 
                      <%= price = @food.price |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                        Enum.join([price, "лв."]," ")
                      %>
                    </span>
                </div>
                <div class="data-element">
                    <span class="name">Описание:</span> <span class="name-data"><%= @food.description %></span>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="container-title">Опции</div>
            <div class="data">
                <div class="link"><%= link "Промени", to: Routes.catering_catering_food_path(@conn, :edit, @catering_id, @food.id) %></div>
                <div class="link"><%= link "Храни", to: Routes.catering_catering_food_path(@conn, :index, @catering_id) %></div>
            </div>
        </div>
    </div>
</div>