<div class="row">
    <div class="form-outline">
        <div class="title">Вход</div>
    
        <%= form_for @conn, Routes.session_path(@conn , :create),[ method: :post, as: :login, class: "reg-forms" ], fn form -> %>
            <%= inputs_for form, :credential, fn cf -> %>
                <%= text_input cf, :email, [ class: "form-control" ,minlength: "8", required: true , placeholder: "И-мейл",  type: "text",value: ""] %>
                <%= text_input cf, :password, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Парола",  type: "password", value: ""] %>
            <% end %>
            <button class="btn btn-primary" >Вход</button>
        <% end %>
    </div>
</div>