<h1>Промяна на профил</h1>

<%= render "form.html", action: Routes.catering_path(@conn, :update, @catering), cities: @cities, changeset: @changeset   %>

<span><%= link "Back", to: Routes.catering_path(@conn, :index) %></span>