<div class="row">
    <div class="form-outline">
        <div class="title">Регистрация на кетъринг фирма</div>
        <%= form_for @changeset, @action,[class: "reg-forms"], fn f -> %>
            <%= text_input f, :name, [ class: "form-control" , required: true , placeholder: "Лично име",  type: "text"] %>
            <%= select f, :city, @cities %>

                <%= inputs_for f, :credential, fn cf -> %>
                    <%= text_input cf, :email, [ class: "form-control" , required: true , placeholder: "Имейл адрес",  type: "email"] %>
                    <%= text_input cf, :username, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Потребителско име",  type: "text",value: ""] %>
                    <%= text_input cf, :password, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Парола",  type: "password", value: ""] %>
                    <%= text_input cf, :password_confirmation, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Повторете паролата",  type: "password", value: ""] %>
                <% end %>
            
                <%= inputs_for f, :address, fn address -> %>
                    <%= hidden_input address, :country, [ class: "form-control", required: true ,value: "България"] %>
                    <%= hidden_input address, :city, [ class: "form-control", value: ""] %>
                    <%= hidden_input address, :province, [ class: "form-control", value: ""] %>
                    <%= text_input address, :address, [ class: "form-control" , placeholder: "Адрес", required: true ,  type: "text"] %>
                    <%= text_input address, :post_code, [ class: "form-control" ,placeholder: "Пощенски код", required: true ,  type: "number"] %>
                <%end%>


            <div>
                <%= submit "Регистрирай" , class: "btn btn-primary"  %>
            </div>
        <% end %>
    </div>
</div>