<style>
  .form-outline{
    width: 100%;
    margin: 0px;
  }
  .reg-forms{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
  }
</style>
<div class="row">
  <div class="form-outline">
  <div class="title">Всички регистрирани кетъринг фирми</div>
  <span><%= link "Нов кетъринг акаунт", to: Routes.catering_path(@conn, :new), class: "btn btn-primary" %></span>
  <table>
    <thead>
      <tr>
        <th>Име</th>

        <th>Адрес</th>

        <th>Опции</th>
      </tr>
    </thead>
    <tbody>
    <%= for catering <- @caterings do %>
        <% address = Server.Repo.preload(catering, :address).address %>
        <tr>
        
          <td><%= catering.name %></td>
          <td><%= "#{address.city}, #{address.address}" %>
          <td>
            <%= link to: Routes.catering_path(@conn, :delete, catering), method: :delete, data: [confirm: "Are you sure?"] do %>
              <i class="fas fa-trash" style="font-size: 30px;"></i>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>