<div class="row">
    <div class="form-outline">
    <div class="title">Регистрация на кетъринг фирма</div>

        <%= form_for @conn, Routes.catering_path(@conn , :create),[ method: :post, as: :registration, class: "reg-forms" ], fn form -> %>
        <%= inputs_for form, :catering, fn catering -> %>
        <div class="col-xs-12">
            <span class="form-control">Наименование на кетъринг фирмата:</span>
            <%= text_input catering, :name, [ class: "form-control" ,minlength: "3", required: true , placeholder: "Наименование на кетъринг фирмата",  type: "text" , value: "Кетъринг-"] %>
            <span class="form-control">Град:</span>
            <%= text_input catering, :city, [ class: "form-control" ,minlength: "3", required: true , placeholder: "Наименование на кетъринг фирмата",  type: "text" , value: "Варна" , readonly: true] %>
        </div>
        <%= inputs_for catering, :credential, fn credential -> %>
        <span class="form-control">Потребителско име:</span>
        <%= text_input credential, :username, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Потребителско име",  type: "text",value: "Кетъринг-"] %>
        <span class="form-control">Парола:</span>
        <%= text_input credential, :password, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Парола",  type: "password",value: "123123123"] %>
        <span class="form-control">Повторете паролата:</span>
        <%= text_input credential, :password_confirmation, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Повторете паролата",  type: "password",value: "123123123"] %>
        <% end %>
        <% end %>
        <button class="btn btn-primary">Регистрирай</button>
        <% end %>
    </div>
</div>