<div class="show-info">
    <div class="inner">
        <div class="left">
            <div class="container-title">Профил</div>
            <div class="data">
                <div class="data-element">
                    <span class="name">Име:</span> <span class="name-data"><%= @catering.name %></span>
                </div>
                <div class="data-element">
                    <span class="name">Потребителско име:</span> <span class="name-data"><%= @catering.credential.username %></span>
                </div>
                <div class="data-element">
                    <span class="name">И-мейл:</span> <span class="name-data"><%= @catering.credential.email %></span>
                </div>
                <div class="data-element">
                    <span class="name">Град:</span> <span class="name-data"><%= Server.Accounts.get_address(@conn.assigns.catering.address_id).city %></span>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="container-title">Опции</div>
            <div class="data">
                <div class="link"><%= link "Храни", to: Routes.catering_catering_food_path(@conn, :index, @catering) %></div>
                <div class="link"><%= link "Менюта", to: Routes.catering_catering_menu_path(@conn, :index, @catering.id) %></div>
                <div class="link"><%= link "Поръчки", to: Routes.catering_order_path(@conn, :orders, @catering.id) %></div>
            </div>
        </div>
    </div>
</div>